[Desktop Entry]
Name=Warsow
GenericName=Fast First Person Shooter
Comment=Multiplayer FPS based on the QFusion engine
Icon=net.warsow.Warsow
Exec=warsow
Terminal=false
Type=Application
Categories=Game;ActionGame;
